# overall decision: which LLM proider to use
#
LLM_PROVIDER=anthropic
LLM_PROVIDER=openai




####################################################################
# For counting tokens only (file: tokens.py)
# Get your Voyage API key here: https://voyageai.com/
#
VOYAGE_API_KEY=pa-...



####################################################################
# LLM API keys
#
OPENAI_API_KEY=sk-...
ANTHROPIC_API_KEY=sk-ant-api03-...


####################################################################
# langsmith support
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="ls__..."
LANGCHAIN_PROJECT="cba_llm"
