anthropic
bs4
chromadb
fastapi
googletrans
huggingface-hub
Jinja2
langchain
langchain-anthropic
langchain-community
langchain-core
langchainhub
langchain-openai
langchain-text-splitters
langdetect
langsmith
openai
openpyxl
pandas
psycopg
pydantic
pysqlite3-binary
pytest
python-dotenv
python-multipart
tiktoken
tqdm
uvicorn
voyageai
